h1{
    text-align: center!important;
    color: aliceblue;
    background-color: black;
    padding-top: 10px;
    padding-bottom:  10px;
}
#btnSubmit{
    background-color: black;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 0.5rem;
    margin-bottom: 18px;
}
h5{
    margin: 10px 10px;
    padding-bottom: 5px;
    padding-top: 10px;
}
#btnList{
    padding: 5px 10px;
    margin-bottom: 18px;
    margin-left: 10px;
    margin-right: 5px;
}
#card{
    padding: 5px 10px;
    margin-bottom: 18px;
}
